<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>185141496389-46d8jcofng8j5gblcbgatiodrf2rji44.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.185141496389-46d8jcofng8j5gblcbgatiodrf2rji44</string>
	<key>API_KEY</key>
	<string>AIzaSyDgL956JZ3e4pj3BJP6_BEZEIu1sVt6BQg</string>
	<key>GCM_SENDER_ID</key>
	<string>185141496389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tproenglish</string>
	<key>PROJECT_ID</key>
	<string>quizenglishlistening</string>
	<key>STORAGE_BUCKET</key>
	<string>quizenglishlistening.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:185141496389:ios:ad20fdaa353158620c712c</string>
	<key>DATABASE_URL</key>
	<string>https://quizenglishlistening.firebaseio.com</string>
</dict>
</plist>